.table-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}


table {
  width: 600px;
  border-collapse: collapse;
  text-align: left;
}

th, td {
  padding: 8px 12px;
}

th {
  font-weight: bold;
}

tr:first-child {
  border-bottom: 3px solid black;
}

td:first-child, th:first-child {
  width: 120px;
  font-weight: bold;
}

td, th {
  border-bottom: 1px solid #ddd;
} 

ul {
  list-style-type: disc; /* adds bullet points */
  margin-left: 20px;     /* indentation */
  padding-left: 20px;    /* extra padding if needed */
  padding-bottom: 16px;
}